<div class="grid">
    <div class="col-12">
        <p-calendar [(ngModel)]="date" [showIcon]="true" class="mr-2"></p-calendar>
        <p-calendar [(ngModel)]="time" [showIcon]="true" class="mr-2" icon="pi pi-clock" [timeOnly]="true" [showSeconds]="false"></p-calendar>
    </div>
    <div class="col-12">
        <input pInputText type="text" placeholder="Ubicación Actual">
        <button pButton pRipple (click)="setCurrentLocation()" class="mr-2" icon="fa-solid fa-location-arrow" styleClass="p-button-secondary"></button>
        <button pButton pRipple (click)="getNearestStreetAddress()" label="Generar Viaje" class="mr-2" icon="fa-solid fa-location-arrow" styleClass="p-button-secondary"></button>
    </div>
    <div class="col-12">
        <div *ngIf="apiLoaded | async">
            <google-map [options]="options">
                <map-marker *ngFor="let markerPosition of markerPositions" [position]="markerPosition"
                    [options]="markerOptions"></map-marker>
            </google-map>
        </div>
    </div>
</div>
