<div class="layout-footer">
    <div class="grid">

        <div class="col-12 md:col-6 lg:col-3">
            <span class="footer-menutitle">CONTACTO</span>
            <ul>
                <li>(415) 931-1624 794</li>
                <li>Mcallister St San Francisco,</li>
                <li>California(CA), 94102</li>
            </ul>
        </div>
        <div class="col-12 md:col-6 lg:col-5">
            <span class="footer-menutitle">BOLETÍN</span>
            <span class="footer-subtitle">Únete a nuestro boletín para recibir notificaciones sobre las nuevas funciones.</span>
                <div class="newsletter-input">
                    <input pInputText type="text" placeholder="correo" />
                    <button pButton pRipple type="button" label="Unirse" class="p-button-secondary "></button>
                </div>
        </div>
        <div class="col-12">
            <div class="footer-bottom">
                <h6>Copyright Ⓒ auto-mate 2023</h6>
            </div>

        </div>
    </div>
</div>
