<div class="layout-footer">
    <div class="grid">
        <div class="col-12  lg:col-4">
            <div class="grid">
                <div class="col-6 ">
                    <span class="footer-menutitle">SITE MAP</span>
                    <ul>
                        <li><a [routerLink]="['/']">Dashboard</a></li>
                        <li><a [routerLink]="['/pages/crud']">Crud</a></li>
                        <li><a [routerLink]="['/pages/invoice']">Invoice</a></li>
                        <li><a [routerLink]="['/pages/help']">Help</a></li>
                    </ul>
                </div>
                <div class="col-6">
                    <span class="footer-menutitle"></span>
                    <ul>
                        <li><a [routerLink]="['/pages/calendar']">Calendar</a></li>
                        <li><a [routerLink]="['/utilities/widgets']">Widgets</a></li>
                        <li><a [routerLink]="['/documentation']">Documentation</a></li>
                        <li><a href="https://www.primefaces.org/store">Buy Now</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <span class="footer-menutitle">CONTACT US</span>
            <ul>
                <li>(415) 931-1624 794</li>
                <li>Mcallister St San Francisco,</li>
                <li>California(CA), 94102</li>
            </ul>
        </div>
        <div class="col-12 md:col-6 lg:col-5">
            <span class="footer-menutitle">NEWSLETTER</span>
            <span class="footer-subtitle">Join our newsletter to get notification about the new features.</span>
                <div class="newsletter-input">
                    <input pInputText type="text" placeholder="email address" />
                    <button pButton pRipple type="button" label="Join" class="p-button-secondary "></button>
                </div>
        </div>
        <div class="col-12">
            <div class="footer-bottom">
                <h4>freya</h4>
                <h6>Copyright Ⓒ PrimeTek Informatics</h6>
            </div>

        </div>
    </div>
</div>
