pre[class*=language-]:before, pre[class*=language-]:after {
  display: none !important;
}
pre[class*=language-] code {
  border-left: 6px solid var(--surface-border) !important;
  box-shadow: none !important;
  background: var(--surface-ground) !important;
  margin: 1em 0;
  color: var(--text-color);
  font-size: 14px;
}
