<div class="grid">
    <div class="col-12" style="text-align: center;">
        <h5>Selecciona una opción</h5>
    </div>
    <div class="col-12">
        <div class="grid"
            style="display: flex; justify-content: space-around; align-items: center; align-content: center;">
            <div class="col-4 card choices overview-box white m-2" (click)="opcion(1)">
                <h1 class="m-0"><i class="fa-solid fa-car-rear"></i></h1>
                <h6 class="m-0">Conductor</h6>
            </div>

            <div class="col-4 card choices overview-box white m-2" (click)="opcion(2)">
                <h1 class="m-0"><i class="fa-solid fa-person-walking-luggage"></i></h1>
                <h6 class="m-0">Pasajero</h6>
            </div>
        </div>
    </div>
</div>
