<div class="grid">
    <div class="col-12 pt-0">
        <input pInputText type="text" id="origin" [(ngModel)]="currentLocation" placeholder="Ubicación Actual" class="p-inputtext-sm mr-2" style="min-width: 40vw;">
        <button pButton pRipple (click)="setCurrentLocation()" class="mr-2 p-button-sm p-button-secondary" icon="fa-solid fa-crosshairs"></button>
        <button pButton pRipple (click)="buscarAutos()" label="Buscar Autos Cercanos" class="p-button-sm mr-2" icon="fa-solid fa-car-side" styleClass="p-button-secondary"></button>
        <label class="mr-2">Carpool</label>
        <p-inputSwitch styleClass="p-inputtext-sm" [(ngModel)]="carpool"></p-inputSwitch>
    </div>
    <div class="col-12">
        <input pInputText type="text" id="destination" [(ngModel)]="toLocation" placeholder="Destino" class="p-inputtext-sm mr-2" style="min-width: 40vw;">
        <button pButton pRipple (click)="calcularRuta()" label="Calcular Ruta" class="p-button-sm mr-2"
        icon="fa-solid fa-route" styleClass="p-button-secondary"
        [disabled]="currentLocation == '' && toLocation == ''"></button>
        <button pButton pRipple (click)="detalles()"
        [label]="carpool ? 'Hacer match pasajeros' : 'Agendar Viaje'" class="p-button-sm mr-2"
        icon="fa-solid fa-location-arrow" styleClass="p-button-secondary"
        [disabled]="!showDirections"></button>

        <!-- <button pButton pRipple (click)="pagarViaje()" label="Método de Pago" class="mr-2" icon="fa-solid fa-money-check" styleClass="p-button-secondary"></button> -->
    </div>
    <div class="col-12">
        <div *ngIf="apiLoaded | async">
            <google-map [options]="options">
                <map-marker *ngFor="let markerPosition of markerPositions" [position]="markerPosition"
                    [options]="markerOptions"></map-marker>
                <map-marker *ngFor="let markerCarPosition of markerCars" [position]="markerCarPosition"
                    [options]="markerCarsOptions" (mapClick)="handleMarkerClick($event)"></map-marker>
                <map-directions-renderer *ngIf="(directionsResults$ | async) as directionsResults"
                    [directions]="directionsResults" [options]="directionsOptions"></map-directions-renderer>

                <!-- <map-directions-renderer [directions]="directionsResults"></map-directions-renderer> -->
            </google-map>
        </div>
    </div>
</div>


<p-dialog header="Método de Pago" [(visible)]="display" modal="modal" showEffect="fade" [style]="{width: '30vw'}" [breakpoints]="{'960px': '75vw'}">
    <div class="grid p-fluid mt-3">
        <div class="col-12">

            <p-listbox [options]="paymentMethods" [(ngModel)]="payment.type" optionLabel="name" [listStyle]="{ 'max-height': '250px' }" [style]="{ width: '15rem' }">
                <ng-template let-payment pTemplate="item">
                    <div class="flex align-items-center gap-2">
                        <i [class]="payment.icon"></i>
                        <div>{{ payment.label }}</div>
                    </div>
                </ng-template>
            </p-listbox>
        </div>
        <div class="field col-12 md:col-6">
            <span class="p-float-label">
                <input type="text" pInputText [(ngModel)]="payment.name">
                <label>Nombre</label>
            </span>
        </div>
        <div class="field col-12 md:col-6">
            <span class="p-float-label">
                <input type="text" pInputText [(ngModel)]="payment.lastName">
                <label>Apellido</label>
            </span>
        </div>
        <div class="field col-12">
            <span class="p-float-label">
                <p-inputMask mask="9999 9999 9999 9999" [(ngModel)]="payment.creditcard"></p-inputMask>
                <label>Tarjeta</label>
            </span>
        </div>
        <div class="field col-12 md:col-8">
            <span class="p-float-label">
                <p-calendar view="month" dateFormat="mm/yy" [(ngModel)]="payment.expirationDate" appendTo="body"></p-calendar>
                <label>Fecha Exp</label>
            </span>
        </div>
        <div class="field col-12 md:col-4">
            <span class="p-float-label">
                <p-inputMask mask="999" [(ngModel)]="payment.pin"></p-inputMask>
                <label>PIN</label>
            </span>
        </div>
    </div>
    <ng-template pTemplate="footer">
            <button pButton icon="pi pi-check" (click)="display=false" label="Ok" class="p-button-outlined"></button>
    </ng-template>
</p-dialog>



<p-dialog header="Detalles del Viaje" [(visible)]="displayDetails" modal="modal" showEffect="fade" [style]="{width: '65vw'}" [breakpoints]="{'960px': '75vw'}">
    <div class="grid">
        <div class="field col-12">
            <p-calendar [(ngModel)]="date" [showIcon]="true" class="p-inputtext-sm mr-2"></p-calendar>
            <p-calendar [(ngModel)]="time" [showIcon]="true" class="p-inputtext-sm mr-2" icon="pi pi-clock" [timeOnly]="true" [showSeconds]="false"></p-calendar>
        </div>
    </div>
    <div class="grid">
        <div class="col-12">
            <div class="grid p-fluid mt-3">
                <div class="field col-12">
                    <span class="p-float-label">
                        <input type="text" pInputText [(ngModel)]="tripDetails.end_address" disabled>
                        <label>Dirección Salida</label>
                    </span>
                </div>
                <div class="field col-12">
                    <span class="p-float-label">
                        <input type="text" pInputText [(ngModel)]="tripDetails.start_address" disabled>
                        <label>Dirección Destino</label>
                    </span>
                </div>
                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <input type="text" pInputText [(ngModel)]="tripDetails.duration" disabled>
                        <label>Tiempo</label>
                    </span>
                </div>
                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <input type="text" pInputText [(ngModel)]="tripDetails.distance" disabled>
                        <label>Distancia</label>
                    </span>
                </div>

                <div class="field col-12 md:col-6">
                    <span class="p-float-label">
                        <p-inputNumber [(ngModel)]="tripDetails.price" inputId="currency-us" mode="currency" currency="USD" locale="en-US" disabled> </p-inputNumber>
                        <label>Precio</label>
                    </span>
                </div>
            </div>
        </div>

    </div>

    <ng-template pTemplate="footer">
            <button pButton icon="pi pi-check" (click)="display=false" label="Ok" class="p-button-outlined"></button>
    </ng-template>
</p-dialog>
