/* You can add global styles to this file, and also import other style files */
$gutter: 1rem; //for primeflex grid system

@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeflex/primeflex.scss";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/prismjs/themes/prism-coy.css";
@import "assets/theme/turquoise/theme-light.scss";
@import "assets/layout/css/layout-light.scss";
@import "assets/fontawesome/all.min.css";


.map-container {
    width: 100% !important;
    height: 75vh !important;
}


.login-body .login-wrapper .login-panel .logo img {
    max-width: 80vw;
    max-height: 15vh;
    width: unset;
    height: unset;
    min-height: 10vh;
}

p-password.p-inputtext {
    border: 0px;
    padding: 0px;
}

.stars {
    color: #ffc107 !important;
}
.selected-user {
    background-color: #66bb6a !important;
    .stars {
        color: #ffffff !important;
    }

    h4.text-500 {
        color: #1e4620 !important;
    }
}

.choices {
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;

    &:hover {
        background-color: #66bb6a;
    }
}
