<div class="container" id="viajes-container">
    <div class="row">
        <div class="col-md-3" *ngFor="let card of cards">
            <div class="card my-3">
                <div class="card-body">
                    <h5 class="card-title">{{ card.date }}</h5>
                    <p class="card-text">
                        Ubicación de inicio: {{ card.startLocation }}<br>
                        Destino: {{ card.destination }}<br>
                        Costo: {{ card.cost }}
                    </p>
                    <button class="btn btn-primary float-end mx-1" (click)="navigateToCar()">Llegar al auto</button>
                    <br />
                    <button class="btn btn-success float-end" (click)="startTrip()">Iniciar viaje</button>
                </div>
            </div>
        </div>
    </div>
</div>

<p-button (click)="openDirectionsModal()" icon="pi pi-external-link" label="Llegar al auto"></p-button>

<p-dialog header="Indicaciones para llegar al auto" [(visible)]="visible" [style]="{width: '50vw'}">
    <div class="grid">
        <div class="col-6">
            <div class="step" *ngFor="let step of exampleDirections">
                <p class="instruction">{{ step.instruction }}</p>
                <p class="distance">{{ step.distance }}</p>
            </div>
        </div>
        <div class="col-6">
            <img src="https://maps.googleapis.com/maps/api/staticmap?size=240x160&maptype=roadmap
            &markers=color:green%7Clabel:S%7C20.6736,-103.3515
            &markers=color:red%7Clabel:D%7C20.6548,-103.3925
            &path=color:0x0000ff80%7Cweight:5%7C20.6736,-103.3515%7C20.6548,-103.3925
            &mode=walking&scale=3&key=AIzaSyBLVDZMCwDct9gnHGb13nUkl7oHpEKG3Wg" alt="Mapa estático" />
        </div>
    </div>
</p-dialog>